.idea
cmake-build-debug
cmake-build-release
debug
release
src/testy-duze-zadanie-1
src/testy-duze-zadanie-2
src/testy-duze-zadanie-3
src/examples
src/my_examples
src/scripts
uwagi_andrzeja
src/examples
src/scripts